body{
  margin: 0;
  padding: 0;
}
#menu{
  width: 100%;
  height: 48px;
  border-bottom:1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: row;
}

#logo{
  width: 43%;
  height: 48px;
  float: left;
}
#instagram{
margin-left: 54%;
/*margin-left: 372px;*/
margin-top: 14px;
}



.pesq{
  width: 20%;
  height: 48px;
}

.pesquisar{
  margin-left: 6px;
  margin-top: 12px;
  height: 19px;
  width: 190px;
  border-color: 2px solid rgb(219, 219, 219);
}


.pesquisar::-webkit-input-placeholder{
  text-align: center;
}

.nav{
  width: 100%;
}

.buttonmenu{
  background-color: rgb(255, 255, 255);
  border: none;
}
.buttonmenu:hover{
  cursor: pointer;
}
.house{
  margin-left: 16px;
  width: 20px;
  margin-top: 14px;
  margin-right: 10px;
}
.plane{
  width: 20px;
  margin-top: 14px;
  margin-right: 3px;
}

.compass{
  width: 20px;
  margin-top: 14px;
  margin-right: 3px;
}
.heart{
  width: 20px;
  margin-top: 14px;
  margin-right: 3px;
}

.perfil{
  border-radius: 500px;
}

.me{
  width: 20px;
  border-radius: 500px;
}